<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
//TODO #1: Use a loop to display job results in a table.
}

    <div>
        @foreach (Job job in ViewBag.jobs)
        {
        <table class="job-listing">
            <tr>
                <td class="centered">ID: </td>
                <td>@job.Id.ToString()</td>
            </tr>
            <tr>
                <td class="centered">Name: </td>
                <td>@job.Name.ToString()</td>
            </tr>
            <tr>
                <td class="centered">Employer: </td>
                <td>@job.Employer.ToString()</td>
            </tr>
            <tr>
                <td class="centered">Location: </td>
                <td>@job.Location.ToString()</td>
            </tr>
            <tr>
                <td class="centered">Position Type: </td>
                <td>@job.PositionType.ToString()</td>
            </tr>
            <tr>
                <td class="centered">Skill(s): </td>
                <td>@job.CoreCompetency.ToString()</td>
            </tr>
        </table>
        }
    </div>